html {
  color: #000;
  background: #fff;
  line-height: 1.5;
  font-family: Overpass, Calibri, sans-serif;
  font-size: 16px;
}
@media screen and (min-width: 280px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 410px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 460px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 700px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 920px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 1150px) {
  html {
    font-size: 20px;
  }
}
body {
  margin: 0;
}
a {
  color: #60f;
  text-decoration: none;
}
h2 {
  font-size: 200%;
  font-weight: normal;
  border-style: none none solid none;
  border-image: linear-gradient(to left, #fe0 0%, #fc0 15%, #f90 65%, #e40 100%) 10;
  border-width: 0 0 4px 0;
  border-bottom: 4px solid #f90;
  padding: 0 1rem;
  margin: 1rem 0;
}
h3 {
  font-weight: bold;
  font-size: 100%;
}
header,
.wrapper {
  margin: 0 auto 1rem auto;
}
@media screen and (max-width: 410px) {
  header,
  .wrapper {
    width: 14rem;
    max-width: 14rem;
  }
}
@media screen and (min-width: 410px) {
  header,
  .wrapper {
    width: 28rem;
    max-width: 28rem;
  }
}
@media screen and (min-width: 700px) {
  header,
  .wrapper {
    width: 42rem;
    max-width: 42rem;
  }
}
@media screen and (min-width: 920px) {
  header,
  .wrapper {
    width: 56rem;
    max-width: 56rem;
  }
}
#logobox {
  background: #000;
  padding: 1rem;
  margin: 0 1rem;
  display: inline-block;
  transform-style: preserve-3d;
}
#logo {
  width: 10rem;
}
.diagonal-slope {
  background: url("/gck/halftoneheader.png");
  border: none;
  padding: 0;
  margin: 0;
  transform-origin: 25% 0%;
  transform: rotate(-6deg);
  width: 200%;
  margin-left: -50%;
  transform-style: preserve-3d;
  z-index: -999;
  height: 4rem;
  margin-bottom: -4rem;
}
.diagonal-slope-container {
  display: block;
  overflow: hidden;
  padding-top: 0;
}
.dark {
  background: #000;
  color: #fff;
}
.dark a {
  color: #fff;
}
.dark .griditem {
  background: rgba(0,0,0,0.5);
}
.dark .griditem h3 {
  color: #fff;
  border-bottom-color: rgba(255,255,255,0.5);
}
.dark #logobox {
  border: solid;
  border-color: rgba(255,255,255,0.5);
  border-width: 1px;
  border-top: none;
}
.halftone {
  background-image: url("/gck/dimhalftones.png");
  background-repeat: no-repeat;
  background-size: 768px;
  background-position: center -300px;
}
@media screen and (min-width: 700px) {
  .halftone {
    background-size: 1024px;
    background-position: center -400px;
  }
}
@media screen and (min-width: 1150px) {
  .halftone {
    background-size: 1536px;
    background-position: center -600px;
  }
}
.sidebar {
  width: 12rem;
  min-width: 12rem;
  padding: 0 1rem;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: inherit;
    background-color: #f7f2ff;
  }
}
.sidebar ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (max-width: 700px) {
  .sidebar ul {
    flex-direction: row;
  }
}
.sidebar li {
  list-style-type: none;
  padding-bottom: 0.25rem;
  padding-right: 0.5rem;
}
.content {
  padding: 0 1rem;
}
.sidebarcontainer {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 700px) {
  .sidebarcontainer {
    flex-direction: column;
  }
}
.details {
  padding: 0;
}
.details > li {
  list-style-type: none;
  padding: 0 0 1rem 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 700px) {
  .details > li {
    flex-direction: row;
  }
}
.details p,
.details ul,
.details h3 {
  margin: 0;
}
.details > li > img {
  width: 12rem;
  height: 9rem;
  padding: 0;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 700px) {
  .details > li > img {
    padding: 0 2rem 0 0;
  }
}
.links {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.links li {
  list-style-type: none;
  padding-right: 0.5rem;
}
.gridcontainer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.griditem {
  width: 12rem;
  min-width: 12rem;
  padding: 1rem;
}
.griditem h3 {
  margin: 0 0 0.5rem 0;
  padding: 0;
  color: #60f;
  border-bottom: 2px solid #60f;
  font-size: 150%;
  font-weight: normal;
}
.griditem ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.griditem li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.widegriditem {
  width: 26rem;
  min-width: 26rem;
}
@media screen and (max-width: 410px) {
  .widegriditem {
    width: 12rem;
    min-width: 12rem;
  }
}
#frontpage {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: column;
}
@media screen and (min-width: 700px) {
  #frontpage {
    flex-direction: row;
  }
}
#frontpage #logo,
#frontpage-logo-and-title h3 {
  width: 10rem;
}
@media screen and (min-width: 410px) {
  #frontpage #logo,
  #frontpage-logo-and-title h3 {
    width: 18rem;
  }
}
@media screen and (min-width: 700px) {
  #frontpage #logo,
  #frontpage-logo-and-title h3 {
    width: 9rem;
  }
}
@media screen and (min-width: 920px) {
  #frontpage #logo,
  #frontpage-logo-and-title h3 {
    width: 15rem;
  }
}
@media screen and (min-width: 410px) {
  #frontpage #logobox {
    padding: 2rem;
  }
}
@media screen and (min-width: 700px) {
  #frontpage #logobox {
    padding: 1rem;
  }
}
@media screen and (min-width: 920px) {
  #frontpage #logobox {
    padding: 1.5rem;
  }
}
#frontpage-logo-and-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 12rem;
  padding: 0 1rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 410px) {
  #frontpage-logo-and-title {
    min-width: 26rem;
  }
}
@media screen and (min-width: 700px) {
  #frontpage-logo-and-title {
    min-width: 12rem;
  }
}
@media screen and (min-width: 920px) {
  #frontpage-logo-and-title {
    min-width: 26rem;
  }
}
#frontpage-logo-and-title h3 {
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  padding: 1rem;
  text-shadow: 0 0 5px #000;
}
@media screen and (min-width: 410px) {
  #frontpage-logo-and-title h3 {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 920px) {
  #frontpage-logo-and-title h3 {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=css.css.map */