{% if page.feature %}
	<aside>
		<figure>
			<img src="{{ 'assets/images/articles/600/' | append: page.feature.image | relative_url }}" alt="{{ page.feature.caption }}" />
		</figure>
	</aside>
{% else %}
	<aside>
		<h3 id="can-you-help-us">Can you help us?</h3>
		<p>
		This article does not have an illustration yet. Are you able to contribute a good photo? Please <a href="https://twitter.com/genderkit">tweet us</a> or message us <a href="https://www.facebook.com/genderkit">on Facebook</a> to let us know.
		</p>
	</aside>
{% endif %}
