<footer>
	<h3>You're reading <a href="{% link index.md %}">Gender Construction Kit</a>.</h3> 

	<p>We're the UK guide to changing things that are linked to gender.</p>
	
  	<p>Gender Construction Kit is an <a href="http://github.com/genderkit/genderkit">open source project</a> created by a <a href="{% link credits.md %}">team of volunteers</a>.</p>
	<p><em>Follow us</em> on <a href="http://www.facebook.com/{{ site.facebook_username }}">Facebook</a>, <a href="http://www.twitter.com/{{ site.twitter_username }}">Twitter</a>, <a href="https://www.instagram.com/genderkit/">Instagram</a>, and <a href="https://genderkit.tumblr.com/">Tumblr</a>.
	</p>
</footer>
<script src="{{ site.baseurl }}/assets/js/jquery-3.2.1.min.js" async></script>
