<footer>
	<div id="logo-footer">
		<a href="{{ site.baseurl | absolute_url }}"><img src="{{ site.baseurl }}/assets/images/logostraightgrey.svg" alt="Genderkit home" style="width: 8rem;" /></a>
	</div>
	<div class="links">
		<li><a href="{{ site.baseurl }}/legal.html">Legal</a></li>
		<li><a href="{{ site.baseurl }}/privacy.html">Privacy</a></li>
		<li><a href="http://www.facebook.com/genderkit">Facebook</a></li>
		<li><a href="http://www.twitter.com/{{ site.twitter_username }}">Twitter</a></li>
	</div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
