<footer>
	<p>You're reading <a href="{% link index.md %}">Gender Construction Kit</a>, the UK guide to changing things that
		are linked to gender.</p>

	{% include cards cards="page-nav" %}

	<p style="text-align: center">made for UK queers by UK queers<br><a href="{% link credits.md %}">credits</a> - <a href="https://github.com/genderkit/genderkit">github</a> - <a href="https://www.facebook.com/{{ site.facebook_username }}">facebook</a> - <a
		href="https://twitter.com/{{ site.twitter_username }}">twitter</a></p>

	<h3>More UK community-made resources</h3>
	{% include cards cards="network-nav" %}
</footer>
<!-- <script src="{{ site.baseurl }}/assets/js/jquery-3.2.1.min.js" async></script> -->
