<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="google-site-verification" content="qetg5bHJT_x0mnOmiCB6dKCY5LcPG-7PLGjarWaYfmc" />
<title>{% if page.title %}{{ page.title | slice: 0 | upcase }}{{ page.title | slice: 1, page.title.size }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<link rel="preload" href="https://fonts.gstatic.com/s/overpass/v4/qFdA35WCmI96Ajtm81kOcc7N4ho.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="https://fonts.gstatic.com/s/overpass/v4/qFdA35WCmI96Ajtm81l6d87N4ho.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ site.baseurl }}/assets/css/css.css?{{ site.css_ver }}" as="style">
<style>
	/* latin */
	@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local('Overpass Light'), local('Overpass-Light'), url(https://fonts.gstatic.com/s/overpass/v4/qFdA35WCmI96Ajtm81kOcc7N4ho.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}
	/* latin */
	@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local('Overpass SemiBold'), local('Overpass-SemiBold'), url(https://fonts.gstatic.com/s/overpass/v4/qFdA35WCmI96Ajtm81l6d87N4ho.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}
	HTML {
		line-height: 1.5;
		font-family: Overpass, Calibri, sans-serif;
		font-weight: 300;
	}
	EM {
  		font-style: normal;
  		font-weight: 600;
	}
</style>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/css.css?{{ site.css_ver }}" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/desktop.css?{{ site.css_ver }}" media="screen and (min-width: 620px)" />


{% if page.noindex %}
<meta name="robots" content="noindex">
{% endif %}

{% assign description = site.description %}
{% if page.collection == 'articles' %}
	{% assign slug = page.title | slugify %}
	{% assign info = site.data.articles[slug] %}
	{% assign description = info.summary %}
{% elsif page.collection == 'words' %}
	{% assign title = page.title | downcase %}
	{% assign what = "What '" %}
	{% assign description = what | append: title | append: "' means and when to use it" %}
{% elsif page.collection == 'categories' %}
	{% assign title = page.title | downcase %}
	{% assign what = "Information on how people in the UK can change their " %}
	{% assign description = what | append: title | append: ", from the UK guide to changing things linked to gender" %}
{% elsif page.description %}
	{% assign description = page.description %}
{% endif %}

<meta name="description" content="{{description}}">
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

<meta name="twitter:site" content="{{ site.twitter_username }}" />

<meta property="og:title" content="{% if page.title %}{{ page.title | slice: 0 | upcase }}{{ page.title | slice: 1, page.title.size }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title | slice: 0 | upcase }}{{ page.title | slice: 1, page.title.size }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:locale" content="en_GB" />
<meta property="og:description" content="{{ description }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta property="og:site_name" content="Gender Construction Kit" />
{% assign canonical = page.url | replace:'index.html','' %}
<meta property="og:url" content="{{ canonical | absolute_url }}" />
{% if page.collection == 'articles' %}
<meta property="og:type" content="article" />
{% if page.feature %}
<meta property="og:image" content="{{ "assets/images/articles/600/" | append: page.feature.image | absolute_url }}" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="300" />
<meta name="twitter:image" content="{{ "assets/images/articles/600/" | append: page.feature.image | absolute_url }}" />
<meta name="twitter:image:alt" content="{{ page.feature.caption }}" />
{% else %}
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta name="twitter:image" content="{{ "/assets/favicons/android-chrome-512x512.png?v=BGBvJ99adG" | absolute_url }}" />
{% endif %}
{% else %}
<meta property="og:type" content="website" />
{% if page.feature %}
<meta property="og:image" content="{{ page.feature.image | absolute_url }}" />
<meta name="twitter:image" content="{{ page.feature.image | absolute_url }}" />
<meta name="twitter:image:alt" content="{{ page.feature.caption }}" />
{% else %}
<meta property="og:image" content="{{ "/assets/images/opengraph.jpg" | absolute_url }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta name="twitter:image" content="{{ "/assets/favicons/android-chrome-512x512.png?v=BGBvJ99adG" | absolute_url }}" />
{% endif %}
{% endif %}

{% capture canonical %}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
<link rel="canonical" href="{{ canonical | absolute_url }}" data-proofer-ignore>

<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/favicons/apple-touch-icon.png?v=BGBvJ99adG">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/favicons/apple-touch-icon.png?v=BGBvJ99adG">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/favicons/favicon-32x32.png?v=BGBvJ99adG" sizes="32x32">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/favicons/favicon-16x16.png?v=BGBvJ99adG" sizes="16x16">
<link rel="manifest" href="{{ site.baseurl }}/assets/favicons/manifest.json?v=BGBvJ99adG">
<link rel="mask-icon" href="{{ site.baseurl }}/assets/favicons/safari-pinned-tab.svg?v=BGBvJ99adG" color="#6000ff">
<link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicons/favicon.ico?v=BGBvJ99adG">
<meta name="msapplication-config" content="{{ site.baseurl }}/assets/favicons/browserconfig.xml?v=BGBvJ99adG">
<meta name="theme-color" content="#270C52">
