---
---

// Colours
$main-colour = #6600ff
$background-colour = #4400aa
$grey-colour = #f0f0fa

// Column size
$column = 12rem

// Bold font weight
$bold-weight = 600

// Normalize
@import "assets/css/normalize"

// Icon font
@import "assets/css/glyphter-font/css/genderkit-icons"

// Use bold rather than italics
em
  font-style normal
  font-weight 600

// Basic utility classes
.hidden
  display none

// Basic html styling
html
  line-height 1.5
  font-family Overpass, Calibri, sans-serif
body
  margin 0
  word-break break-word // force wrapping on words > screen width
  font-weight 300
header
  background-image url('{{ site.baseurl }}/assets/images/arrowback6.jpg')
  background-repeat no-repeat
  background-color black
  background-size cover
  background-position center center
h1, h2
  color white
  margin 0
  padding 0
  line-height 1.25
h1
  display flex
  flex-direction column
  img
    width 12rem
    height 6rem
h2
  background-color rgba(0,0,0,0.6)
  font-size 1.5rem
  letter-spacing -0.05rem
  padding 1rem
a
  color $main-colour
  text-decoration none
  cursor pointer
ul, ol
  padding-left 1.5rem
main
  display flex
  flex-direction column
figure
  margin -1rem // nasty hack
img
  width 100%
  display block
h3
  margin-top 0
section, footer, .greybox
  padding 1rem
  margin 0

// Remove default UL styling on most lists  
nav ul, .wordcloud, .wordlist, .gridcontainer, .griditem ul, .cards, .links, .details, .articles, .effects, #effectslist, #categorylist
  padding 0
  margin 0
  li
    list-style-type none
    a
      text-decoration none

// Lists where we want to squish the text together
// to make list items more visually obvious 
.articles, .effects, #effectslist, .details
  display flex
  flex-direction column
  img
    display none
  h3, p
    font-size 1rem
    margin 0
  li
    margin-bottom 1rem
  li:last-child
    margin-bottom 0
    
.articles, .effects, #effectslist
  line-height 1.25

// Index pages
#accordionButton
  display block 
  // Make the accordion link take up the full size of its container
  // this makes much more sense on mobile
.datewarning
  font-size 90%
  color #888
  
// Category pages
// Hack to make last row align left
.placeholder
  min-height 0 !important
  max-height 0 !important
  margin 0 !important

// Explore pages
.wordcloud
  display flex
  flex-direction row
  flex-wrap wrap
  align-items center
  justify-content space-between
  margin 1rem 0.5rem
  padding 0
  li
    padding 0 0.5rem
.wordlist
  display flex
  flex-direction row
  flex-wrap wrap
  align-items flex-start
  margin 0rem 0.5rem
  padding 0
  li
    padding 0.25rem 0.5rem
    line-height 1.25
    margin-bottom 1rem
    
// Article pages
.effects, #effectslist
  margin-top 1rem
  li
    min-height 3rem
  i // Icons to represent body parts etc.
    display block
    color black
    line-height 1
    font-size 3rem
    width 3rem
    height 3rem
    margin-bottom -3rem
    margin-left -4rem
.bibliography
  list-style-type disc

// Video utility classes
.videoEmbedWrapper
  position relative
  padding-bottom 56.25%
  height 0
.videoEmbedWrapper iframe
    position absolute
    top 0
    left 0
    width 100%
    height 100%

// Front page
.homescreen
  font-size 1.25rem
  header
    display flex
    flex-direction column
    align-items flex-start
    h1
      flex-direction row
      justify-content center
      padding 0
      height auto
      width auto
    h2
      font-weight 300
    h1, h2
      background none
      img
        width 16rem
        height 8rem 
  header, section
    margin-bottom 2rem
    padding 0
  .greybox h3
    background #445
    color white
    padding 1rem
    margin 0
#effectslist
  padding 0
  li
    background-color #f0f0fa
    a
      padding-top 2rem
      padding-bottom 1rem
      padding-left 1rem
      padding-right 1rem
      display block 
.cards
  display flex
  flex-direction column
  font-size 1.25rem
  font-weight $bold-weight
  li
    height 3rem
    margin 0 0 .5rem 0
    background-color #445
    background-image url('{{ site.baseurl }}/assets/images/whiteraquo.png')
    background-position 100% 50%
    background-size 4rem
    background-repeat no-repeat
    a
      color white
      height 100%
      padding 0 1rem
      display flex
      align-items center
      justify-content space-between
.raquo
  font-size 3rem
  overflow hidden
    
// Visual styling
nav, aside, .warning, .attention
  h3, p
    margin 0
nav, aside, footer, .greybox
  background $grey-colour
nav, aside, .attention
  padding 1rem
.attention
  background #ffffee
  border-style none none none solid
  border-image linear-gradient(to bottom, #fe0 0%, #fc0 15%, #f90 65%, #e40 100%) 10
  border-width 0 0 0 4px
  border-left 4px solid #f90
.button
  display block
  width 10rem
  background-color #f80
  background linear-gradient(to bottom, #fe0 0%, #fc0 15%, #f90 65%, #e40 100%)
  border-radius .5rem
  padding 1rem .5rem
  margin 1rem
  font-weight $bold-weight
  color black
  text-align center
.grouping 
  padding 0 0 1rem 0
.warning
  border-left 4px red solid 
  padding 0 0 0 1rem
  margin 0 0 1rem 0 // make sure that warnings are visually seperate
.gridcontainer li
  width $column
  h3
    margin 0
.griditem
  margin-bottom 1rem
  
// Checklists
.checklist
  padding 0
  list-style-type none
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-between
  li
    padding 0.5rem 0    
    width $column
    max-width $column
  input[type=checkbox]
    position absolute
    overflow hidden
    clip rect(0 0 0 0)
    height 1px
    width 1px
    margin -1px
    padding 0px
    border 0
  input[type=checkbox]+label::before
    content "\2718"
    color #e0e0e0
    width 2em
    height 2em
    font-weight bold
    font-family sans
    display flex
    align-items center
    justify-content center
    border 2px solid $main-colour
    margin-right 16px
    flex-shrink 0
  input[type=checkbox]:checked+label::before
    content "\2714"
    color #444
  input[type=checkbox]:hover+label::before
    background-color $main-colour + 95%
  input[type=checkbox]+label
    line-height 1.25
    height 2em
    display flex
    align-items center
    cursor pointer
    opacity 1
    text-align left

// Horrible special cases to make things look nicer
#effectslist
  margin-top 0
a > span > span // Make citations appear correctly
  vertical-align baseline !important
  font-size 0.75rem
a > span // Make citations appear correctly
  line-height 0
  
