---
---

// Colours
$main-colour = #6600ff
$background-colour = #4400aa
$grey-colour = hsl(250, 100%, 98%)
$grey-border = hsl(250, 100%, 94%)

// Column size
$column = 12rem

// Bold font weight
$bold-weight = 600

// Normalize
@import "assets/css/normalize"

// Basic utility classes
.hidden
  display none

// Basic html styling
html
  line-height 2
#wait-full p, #organisations p, #organisations h3, #books
  line-height 1.5
body
  margin 0
  word-break break-word // force wrapping on words > screen width
header
  background-image url('{{ site.baseurl }}/assets/images/arrowback6.jpg')
  background-repeat no-repeat
  background-color black
  background-size cover
  background-position center center
h1, h2
  color white
  margin 0
  padding 0
  line-height 1.25
h1
  display flex
  flex-direction column
  img
    width 12rem
    height 6rem
h2
  background-color rgba(0,0,0,0.6)
  font-size 1.5rem
  letter-spacing -0.05rem
  padding 1rem
a
  color $main-colour
  text-decoration none
  cursor pointer
ul, ol
  padding-left 1.5rem
main
  display flex
  flex-direction column
figure
  margin -1rem // nasty hack
img
  width 100%
  display block
article img
  max-width 500px
h3
  margin-top 2rem
  margin-bottom .5rem
  line-height 1.25
h3:first-child
    margin-top 1rem
h3+p
  margin-top 0
h4
  font-weight inherit
  margin-bottom 0
  margin-top 0.5rem
section, footer
  padding 1rem
  margin 0
.greybox, .requirementsbox, .articlescope
  padding 1rem
  margin 0.5rem

#searchbox
  margin 0
  display flex
  flex-grow 999
  font-size 125%
  font-family Overpass
  height 2em
  border 1px #60f solid
  background-image url(/assets/images/search.svg)
  background-repeat no-repeat
  background-position .5em center
  padding-left 2.5rem
  background-size 1em
  box-shadow #60f 0 0 5px

// Remove default UL styling on most lists  
nav ul, .wordcloud, .wordlist, .gridcontainer, .griditem ul, #indexes, #explore, #resources, #help, .links, .details, .articles, .effects, .requirements, #effectslist, #categorylist
  padding 0
  margin 0
  li
    list-style-type none
    a
      text-decoration none

// Lists where we want to squish the text together
// to make list items more visually obvious 
.articles, .effects, .requirements, #effectslist, #explore, #resources, #help, .details
  display flex
  flex-direction column
  img
    display none
  h3, p
    font-size 1rem
    margin 0
  li
    margin-bottom 1rem
  li:last-child
    margin-bottom 0
    
.articles, .effects, .requirements, #effectslist, #explore, #resources, #help
  line-height 1.25

.details
  margin-bottom 1rem

.grouped-publications
  margin-bottom 1rem

.grouped-publications .details, .grouped-publications .details li
  margin-bottom 0
  list-style-type disc
  margin-left 1rem
  
.grouped-publications #publications a
  font-weight inherit

// Index pages
#accordionButton
  display block 
  // Make the accordion link take up the full size of its container
  // this makes much more sense on mobile
.datewarning
  font-size 90%
  color #888
  
// Category pages
// Hack to make last row align left
.placeholder
  min-height 0 !important
  max-height 0 !important
  margin 0 !important

// Explore pages
.wordcloud
  display flex
  flex-direction row
  flex-wrap wrap
  align-items center
  justify-content space-between
  margin 1rem 0.5rem
  padding 0
  li
    padding 0 0.5rem
.wordlist
  display flex
  flex-direction row
  flex-wrap wrap
  align-items flex-start
  margin 0rem 0.5rem
  padding 0
  li
    padding 0.25rem 0.5rem
    line-height 1.25
    margin-bottom 1rem
    
// Article pages
.effects, .requirements, #effectslist, #explore, #resources 
  margin-top 1rem
  margin-bottom 1rem
  padding 0
  li
    margin-left 5rem
    padding-left 1rem
    min-height 5rem
    //border-left 2px solid #a8f
  i // Icons to represent body parts etc.
    display block
    color black
    line-height 1
    font-size 3rem
    width 4rem
    height 4rem
    margin-bottom -4.35rem
    margin-left -6rem
    background $grey-colour
    border-radius 8px
    background-size 4rem
    padding 5px
    border 2px solid $grey-border
    background-position center
    background-repeat no-repeat
#effectslist, #explore, #resources 
  span
    display block
    margin-top 2rem

// Books, organisations, publications pages
#books a, #publications a
{
  font-weight inherit
}
#books img, #publications img
{
  display block
  width 100px
  height 141px
  border 1px solid #ddd
  float left
  margin-right 1rem
}
#books img
{
  height 150px
}

#organisations, #clinics
  img
    display block
    width 50px
    height 50px
    margin-left -50px
    margin-bottom -50px
  li
    margin-left 50px
  p, h3
    margin-left 1rem
  .inlineIcon
    width 1em
    height 1em
    margin 0
    display inline-block

.bookauthor, .publicationyear
{
  color #666
}

// Video utility classes
.videoEmbedWrapper
  position relative
  padding-bottom 56.25%
  height 0
.videoEmbedWrapper iframe
    position absolute
    top 0
    left 0
    width 100%
    height 100%

// Front page
.homescreen
  font-size 1.25rem
  header
    display flex
    flex-direction column
    align-items flex-start
    h1
      flex-direction row
      justify-content center
      padding 0
      height auto
      width auto
    h2
      font-weight 300
    h1, h2
      background none
      img
        width 16rem
        height 8rem 
  header, section
    margin-bottom 2rem
    padding 0
  .greybox h3, .requirementsbox h3
    background #445
    color white
    padding 1rem
    margin 0
#explore
  li
    border none
    margin auto
    a
      display block
    span
      font-weight 600
#effectslist, #resources, #help
  li
    background-color #f0f0fa
    border none
    a
      display block
#indexes
  display flex
  flex-direction column
  font-size 1.25rem
  font-weight $bold-weight
  i
    display none
    background none
  li
    height 3rem
    margin 0 0 .5rem 0
    background-color #445
    background-image url('{{ site.baseurl }}/assets/images/whiteraquo.png')
    background-position 100% 50%
    background-size 4rem
    background-repeat no-repeat
    a
      color white
      height 100%
      padding 0 1rem
      display flex
      align-items center
      justify-content space-between
.raquo
  font-size 3rem
  overflow hidden
#ticker
  background-color #445
  color white
  font-size 125%
  padding 1rem
  font-weight 300
  line-height 1.35
#change
  font-size 2rem
  font-weight 600
  margin-left 0
.orange
  color #fa0
  font-weight 600
#help
  flex-wrap wrap
  flex-direction row
  margin 0 1rem 
  li
    margin 1rem 1rem 0 0
    padding .5rem
    border-radius 1rem 
    font-size 120%

// Visual styling
nav, aside, .warning, .info, .regional, .articlescope, .attention, .search
  h3, p
    margin 0
nav, aside, footer, .greybox, .search, .requirementsbox
  background $grey-colour
nav, aside, .articlescope, .attention
  padding 1rem
.articlescope, .attention
  background #ffffee
  border-style none none none solid
  border-image linear-gradient(to bottom, #fe0 0%, #fc0 15%, #f90 65%, #e40 100%) 10
  border-width 0 0 0 4px
  border-left 4px solid #f90
.search
  display flex
.searchItem
  line-height: 1.2
#publications .searchitem a
  font-weight bold
.button
  display block
  width 16rem
  background-color #f80
  background linear-gradient(to bottom, #fe0 0%, #fc0 15%, #f90 65%, #e40 100%)
  border-radius .5rem
  padding 1rem .5rem
  margin 1rem
  font-weight $bold-weight
  color black
  text-align center
.grouping 
  padding 0 0 1rem 0
.info
  border-left 4px royalblue solid
  padding 0 0 0 1rem
  margin 1rem 0 1rem 0 
.regional
  border-left 4px green solid 
  padding 0 0 0 1rem
  margin 1rem 0 1rem 0
.warning
  border-left 4px red solid 
  padding 0 0 0 1rem
  margin 1rem 0 1rem 0 // make sure that warnings are visually seperate
.gridcontainer li
  width $column
  h3
    margin 0
.griditem
  margin-bottom 1rem

.searchDetails
  margin-left 1rem
  display flex
  flex-direction row
  flex-wrap wrap
  align-items center
  span 
    margin-right .5rem

// Tags
.tags
  display flex
  flex-direction row
  padding 0
  flex-wrap wrap
  margin-top .5rem
.tag
  font-size 80%
  border-radius .25em
  background-color #f0f0f0
  margin 0 .25rem .25rem 0 !important
  a
    padding .25em .25em
    display block
    font-weight normal !important

// Checklists
.checklist
  padding 0
  list-style-type none
  display flex
  flex-direction column
  li
    padding 0.5rem 0
  p
    margin 0 0 0 3em
    border-left 4px white solid
  input[type=checkbox]
    position absolute
    overflow hidden
    clip rect(0 0 0 0)
    height 1px
    width 1px
    margin -1px
    padding 0px
    border 0
  input[type=checkbox]+label::before
    content "\2718"
    color #e0e0e0
    width 2em
    height 2em
    font-weight bold
    font-family sans
    display flex
    align-items center
    justify-content center
    border 2px solid $main-colour
    margin-right 16px
    flex-shrink 0
  input[type=checkbox]:checked+label::before
    content "\2714"
    color #444
  input[type=checkbox]:hover+label::before
    background-color $main-colour + 95%
  input[type=checkbox]+label
    line-height 1.25
    height 2em
    flex-grow 999
    display flex
    align-items center
    cursor pointer
    opacity 1
    text-align left
    font-weight bold

// Gender clinic summary page
.referrals
  font-weight bold
  display flex
  align-items center
  img
    width 2rem
    height 2rem
    margin-right .5rem
#clinics
  font-size 14px
  margin-left 1rem
  margin-bottom 2rem
  li
    margin-bottom .5em
    min-height 2.5em
    display flex
    align-items center
  li, p, h3, .searchDetails
    margin-left 0
  img
    height 3em
    width 3em
    margin 0 .5em 0 0
    display inline-block
  .searchDetails 
    display flex
    flex-direction column
    align-items flex-start
    line-height 1.2
    span
      margin 0
  .clinicheading
    font-weight bold
    color #666
    min-width 10rem
    max-width 10rem
    width 10rem
    line-height 1
    a
      margin-right .25em
  .clinicdetails
    display flex
    align-items center
    flex-wrap wrap
    p
      display inline-block
      font-size inherit
  .agerange
    min-width 5em
    width 5em
  .waittime
    min-width 8em
    width 8em
  .catchment
    min-width 10em

// Horrible special cases to make things look nicer
#effectslist, #explore, #help, #resources
  margin-top 1rem
a > span > span // Make citations appear correctly
  vertical-align baseline !important
  font-size 0.75rem
a > span // Make citations appear correctly
  line-height 0
  
// New category page styling

.articles
  display grid
  grid-template-columns repeat(auto-fit,10rem)
  grid-gap 1rem
  margin-top 0
  justify-content center
  img 
    margin-bottom 1rem
    display block
    width 10rem
    height 7.5rem
  .nophoto
    margin-bottom 1rem
    display block
    width 10rem
    height 7.5rem
  li:nth-child(6n+0) .nophoto 
    background rgb(149,229,255)
  li:nth-child(6n+1) .nophoto 
    background rgb(182,194,254)
  li:nth-child(6n+2) .nophoto 
    background rgb(218,252,182)
  li:nth-child(6n+3) .nophoto 
    background rgb(252,220,151)
  li:nth-child(6n+4) .nophoto 
    background rgb(182,254,222)
  li:nth-child(6n+5) .nophoto 
    background rgb(188,173,231)

// New homepage styling

#explore
  display grid
  grid-template-columns repeat(auto-fit,7rem)
  grid-gap 1rem
  margin-top 0
  justify-content center
  text-align center
  li
    display flex
    flex-direction column
    width 7rem
    min-height 8rem
    padding-left 0
    margin-left 0
    margin-bottom 0
    a
      padding-left 0
      padding-right 0
    span
      font-size 1rem
  li:last-child
    margin-bottom 0
  i
    font-size 3rem
    margin 1rem auto -.5rem auto

.tanner
  display grid
  grid-template-columns repeat(auto-fit,20rem)

.dividingline
  border-top 1px solid #888

footer 
  font-size 1rem
  background none
  border-top 1px solid #ddd
  div
    display grid
    grid-template-columns repeat(auto-fit,10rem)
    grid-gap 1rem
    margin 2rem 0
    justify-content space-evenly
  ul
    list-style-type none
    padding 0
    margin 0
  
.clothes
  list-style none
  padding 0
  li
    margin-bottom 2rem
  img
    max-width 350px

// citations
.csl-left-margin
  display inline-block
  min-width 2em
.csl-right-inline
  display inline
.bibliography
  padding-left 0
  list-style-type none
.bibitem
  padding-block-end .5ex

figcaption
  padding-left 1em
  p
    line-height 1

figure img
  width 100vw
  height 75vw

.bodytext picture img
  margin 1em auto 

.columns
  padding 0
  list-style-type none

.homescreen section h2, .homescreen section p 
  margin 0 1em
  font-size 85%
  background inherit
  color black
  padding 0
  letter-spacing initial

.homescreen section h2
  font-weight bold

// regional option grid layouts
.regionaloptions
  h4
    font-weight bold
  .region , .bigregion
    padding 10px
    margin 0
    p, h4
      margin 5px

.tableicon
  display block !important
  width 1.5em
  height 1.5em

th > .smaller
  font-size small
  font-weight normal

div.rotate 
  white-space nowrap
  transform translate(0,-10px) rotate(315deg)
  width fit-content
  width -moz-fit-content
  
div.rotate > div
  line-height 1

div.rotate >  .smaller
  font-weight normal
  font-size small

div.rotate > div > span 
  border-bottom 1px solid #ccc
  padding 5px 10px

td.centred
  text-align center

.centred .tableicon
  margin-left auto
  margin-right auto

.size-table
  margin-left auto
  margin-right auto
  td
    font-size smaller

#wait-summary tr
  height 2.4em
#wait-summary th
  max-width 50px
#wait-summary tbody
  margin-left auto
  margin-right auto

#wait-full .wait-full-details-stats
  display grid
  grid-template-columns repeat(auto-fit,10rem)
  justify-content center
  margin-bottom 1.5ex

#wait-full .wait-full-details
  margin-bottom 2em

#wait-full .waittime, #wait-full .unknowninfo
    font-size 2em
    font-weight bold

#wait-full .tableicon
  width 1em
  height 1.5em

#wait-full p
  font-size 85%
  color #666

.detail-link
  display block
  margin 0
  font-size 80%

.service-name
  line-height 1.2

#wait-full .source
  font-size inherit

#wait-full .waittime p
  font-size inherit 
  color inherit
