---
---

// Flexible box model: support old vendor prefixes
@import "assets/css/flex"

// Icon font
@import "glyphter-font/css/genderkit-icons.css"

// Font sizes
$smaller-font-size = 14px
$base-font-size = 16px
$big-font-size = 18px
$bigger-font-size = 20px

// Colours and gradients
$main-colour = #60f
$dark-border-colour = rgba(255, 255, 255, .5)
$sunset = linear-gradient(to left, #fe0 0%, #fc0 15%, #f90 65%, #e40 100%)
$dawn = linear-gradient(to right, hsla(75, 100%, 75%, 1) 0%, hsla(165, 100%, 75%, 1) 50%, hsla(255, 100%, 75%, 1) 100%)
$night = linear-gradient(to bottom, black 0%, $main-colour 99%)

// Grid system - a standard column size and gutter size
$standard-padding = 1rem
$column-width = 12rem
$bigger-column-width = 18rem
$two-column-width = ($column-width * 2) + ($standard-padding * 2)

// Container sizes
// These widths accomodate this number of columns incl. padding
$container-onewide = $column-width + ($standard-padding * 2)
$container-onebigwide = $bigger-column-width + ($standard-padding * 2)
$container-twowide = 2 * $container-onewide
$container-threewide = 3 * $container-onewide
$container-fourwide = 4 * $container-onewide

// Page widths
// At each size, the media queries change the number of columns
$page-onebigwide = 320px
$page-twowide = 410px
$page-threewide = 700px
$page-fourwide = 920px
$page-extrawide = 1150px

html
  background-repeat: no-repeat;
  color black
  background white
  line-height 1.5
  font-family Overpass, Calibri, sans-serif
  
  // Adjust font size appropriately to screen size
  font-size $base-font-size
  @media screen and (min-width: 280px)
    font-size $base-font-size
  @media screen and (min-width: $page-onebigwide)
    font-size $smaller-font-size
  @media screen and (min-width: 360px)
    font-size $base-font-size
  @media screen and (min-width: $page-twowide)
    font-size $smaller-font-size
  @media screen and (min-width: 460px)
    font-size $base-font-size
  @media screen and (min-width: $page-threewide)
    font-size $base-font-size
  @media screen and (min-width: $page-fourwide)
    font-size $base-font-size
  @media screen and (min-width: $page-extrawide)
    font-size $bigger-font-size

// Basic HTML styling
body
  margin 0
a
  color $main-colour
  text-decoration none
  cursor pointer
h2
  font-size 200%
  @media screen and (max-width: $page-twowide)
    font-size 150%
  font-weight normal
  line-height 1.0
  border-style none none solid none
  border-image $sunset 10
  border-width 0 0 4px 0
  border-bottom 4px solid #f90
  padding 0 $standard-padding $standard-padding $standard-padding
  margin $standard-padding 0
.dark h2
  font-weight 300
  border-image $dawn 10
  border-bottom 2px solid #f90
h3
  font-weight bold
  font-size 100%

figure
  margin $standard-padding 0
  img
    margin auto
    display block
    @media screen and (max-width: $page-onebigwide)
      width $column-width
      max-width $column-width
    @media screen and (min-width: $page-onebigwide)
      width $bigger-column-width
      max-width $bigger-column-width
    @media screen and (min-width: $page-twowide)
      width $two-column-width
      max-width $two-column-width
    @media screen and (min-width: $page-fourwide)
      width $three-column-width
      max-width $three-column-width
figcaption
  text-align center
  margin-top $standard-padding
  margin-bottom $standard-padding * 2

// A wrapper around the page that centers the content
// and sets the width of the content
header, .wrapper, footer
  margin 0 auto 1rem auto
  
  @media screen and (max-width: $page-onebigwide)
    width $container-onewide
    max-width $container-onewide
  @media screen and (min-width: $page-onebigwide)
    width $container-onebigwide
    max-width $container-onebigwide
  @media screen and (min-width: $page-twowide)
    width $container-twowide
    max-width $container-twowide
  @media screen and (min-width: $page-threewide)
    width $container-threewide
    max-width $container-threewide
  @media screen and (min-width: $page-fourwide)
    width $container-fourwide
    max-width $container-fourwide

footer
  border-style solid none none none
  border-color #f90
  border-image $sunset 10
  border-width 4px 0 0 0
  padding 2rem 0
  text-align center
  .links
    justify-content center 
    padding-bottom 0.5em
.dark footer
  border-image $dawn 10
  border-width 2px 0 0 0
  
// Site logo
#logobox
  padding $standard-padding
  background black
  margin 0 $standard-padding
  // Size the box to fit the contents and no more
  display inline-block
  // Hack to deal with SVG rendering bug in WebKit
  transform-style preserve-3d

#logo
  @media screen and (max-width: $page-twowide)
    width $column-width - $standard-padding * 2
  @media screen and (min-width: $page-twowide)
    width $column-width - $standard-padding * 2
    
#logo-footer
  display inline-block
  margin 0 auto
  padding-bottom 1rem

// Diagonal top element
// This is HORRIBLE and hacky but the best way
// I can find to do it so far.
.diagonal-slope
  background url("{{ site.baseurl }}/assets/images/halftoneheader.png")
  border none
  padding 0
  margin 0

  // Rotate the element to make it diagonal 
  transform-origin 25% 0%
  transform rotate(-6deg)

  // Make the diagonal element go the entire page width
  width 200%
  margin-left -50%

  // Fix for issue with displaying SVGs in WebKit
  transform-style preserve-3d
  z-index -999
  
  // Make the element have effectively zero height
  // so following elements appear above it
  height 4rem
  margin-bottom -4rem
  
.diagonal-slope-container
  display block
  overflow hidden
  padding-top 0

// Dark alternate styling (used on frontpage and infographics)
.dark
  background black
  color white
  
.dark a
  color white

.dark .griditem
  background rgba(0,0,0,0.5)

.dark .griditem h3
  color white
  border-bottom-color $dark-border-colour

.dark #logobox
  border none

.purpleglow
  background no-repeat radial-gradient(circle 360px at 50% 50px, hsl(264,100%,50%) 0%, hsl(0,0%,0%) 100%) black
  @media screen and (max-width: $page-onebigwide)
    background no-repeat radial-gradient(circle 360px at 50% 50px, hsl(264,100%,50%) 0%, hsl(0,0%,0%) 100%) black
  @media screen and (min-width: $page-onebigwide)
    background no-repeat radial-gradient(circle 420px at 50% 50px, hsl(264,100%,50%) 0%, hsl(0,0%,0%) 100%) black 
  @media screen and (min-width: $page-twowide)
    background no-repeat radial-gradient(circle 480px at 50% 80px, hsl(264,100%,50%) 0%, hsl(0,0%,0%) 100%) black
  @media screen and (min-width: $page-threewide)
    background no-repeat radial-gradient(circle 720px at 50% 100px, hsl(264,100%,50%) 0%, hsl(0,0%,0%) 100%) black  
  @media screen and (min-width: $page-extrawide)
    background no-repeat radial-gradient(circle 1024px at 50% 150px, hsl(264,100%,50%) 0%, hsl(0,0%,0%) 100%) black

// Sidebar
.sidebar
  @media screen and (max-width: $page-onebigwide)
    width $column-width
    min-width $column-width
  @media screen and (min-width: $page-onebigwide)
    width $bigger-column-width
    min-width $bigger-column-width
  @media screen and (min-width: $page-twowide)
    width $column-width
    min-width $column-width
  padding 0 $standard-padding
  // If the page is small, move the sidebar to the top
  @media screen and (max-width: $page-threewide)
    width inherit
    line-height 1.5
    h3
      margin 0.25rem 0
    p
      margin 0.5rem 0
  ul
    padding 0
    display flex
    flex-wrap wrap
    flex-direction column
    @media screen and (max-width: $page-threewide)
      flex-direction row
      margin 0.25rem 0
  li
    list-style-type none
    line-height 1.25
    padding-bottom 0.5rem
    padding-right 0.5rem
    @media screen and (max-width: $page-threewide)
      padding-bottom 0rem
.content
  padding 0 $standard-padding
  word-break break-word // If we have really long bits of text with no spaces (e.g. urls) it can break the page layout, this fixes that
  flex-grow 1 // Make sure content fills as much of the page as it can

.sidebarcontainer
  display flex
  flex-direction row
  
  @media screen and (max-width: $page-threewide)
    flex-direction column

// Lists

.details
  padding 0
  p
    -ms-word-break break-all
    word-break break-all
    word-break break-word
    -webkit-hyphens auto
    -moz-hyphens auto
    -ms-hyphens auto
    hyphens auto

.details > li
  list-style-type none
  padding 0 0 $standard-padding 0
  display flex
  flex-direction column
  @media screen and (min-width: $page-threewide)
    flex-direction row
  
.details p, .details ul, .details h3
  margin 0

.categories
  display flex
  flex-direction row
  flex-wrap wrap
  align-items stretch
  
.categories > li
  @media screen and (max-width: $page-onebigwide)
    max-width $column-width
  @media screen and (min-width: $page-onebigwide)
    max-width $bigger-column-width
  @media screen and (min-width: $page-twowide)
    max-width $column-width
  flex-direction column
  margin $standard-padding
  padding 0
  background #eee

.categories h3
  background rgba(255,255,255,0.85)
  padding 0.25rem 0.5rem
  color black
  
.categories p
  padding 0.5rem

.categorypicture
  @media screen and (max-width: $page-onebigwide)
    width $column-width
    height $column-width * 0.75
    background-size $column-width
  @media screen and (min-width: $page-onebigwide)
    width $bigger-column-width
    height $bigger-column-width * 0.75
    background-size $bigger-column-width
  @media screen and (min-width: $page-twowide)
    width $column-width
    height $column-width * 0.75 
    background-size $column-width

.links
  padding 0
  display flex
  flex-direction row
  flex-wrap wrap
  li
    list-style-type none
    padding-right 0.5rem

// Grids

.gridcontainer
  margin 0 auto
  padding 0
  display flex
  flex-direction row
  flex-wrap wrap

.griditem
  list-style-type none
  @media screen and (max-width: $page-onebigwide)
    width $column-width
    max-width $column-width
  @media screen and (min-width: $page-onebigwide)
    width $bigger-column-width
    max-width $bigger-column-width
  @media screen and (min-width: $page-twowide)
    width $column-width
    max-width $column-width
  padding $standard-padding
  h3
    margin 0 0 0.5rem 0
    color $main-colour
    border-bottom 2px solid $main-colour
    font-size 150%
    font-weight normal
    line-height 1.25
    padding-bottom 0.25em
  ul
    margin 0
    padding 0
    display flex
    flex-direction column
  li
    margin 0
    padding 0
    list-style-type none
  
.widegriditem
  @media screen and (max-width: $page-onebigwide)
    width $column-width
    max-width $column-width
  @media screen and (min-width: $page-onebigwide)
    width $bigger-column-width
    max-width $bigger-column-width
  @media screen and (min-width: $page-twowide)
    width $two-column-width
    max-width $two-column-width

// Checklists
.checklist
  padding 0
  list-style-type none
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-between
  li
    padding $standard-padding * 0.5 0
    @media screen and (max-width: $page-onebigwide)
      width $column-width
      max-width $column-width
    @media screen and (min-width: $page-onebigwide)
      width $bigger-column-width
      max-width $bigger-column-width
    @media screen and (min-width: $page-twowide)
      width $column-width
      max-width $column-width
  input[type=checkbox]
    position absolute
    overflow hidden
    clip rect(0 0 0 0)
    height 1px
    width 1px
    margin -1px
    padding 0px
    border 0
  input[type=checkbox]+label::before
    content "\2718"
    color #e0e0e0
    width 2em
    height 2em
    font-weight bold
    font-family sans
    display flex
    align-items center
    justify-content center
    border 2px solid $main-colour
    margin-right 16px
    flex-shrink 0
  input[type=checkbox]:checked+label::before
    content "\2714"
    color #444
  input[type=checkbox]:hover+label::before
    background-color $main-colour + 95%
  input[type=checkbox]+label
    line-height 1.25
    height 2em
    display flex
    align-items center
    cursor pointer
    opacity 1
    text-align left
    
// Frontpage specific styling
#frontpage
  display flex
  flex-wrap no-wrap
  flex-direction column
  @media screen and (min-width: $page-threewide)
    flex-direction row

#frontpage #logobox
  padding 0
  background none

// Bigger logo on the front page where
// screen sizes make it possible
#frontpage #logo, #frontpage-logo-and-title h3
  width $column-width
  margin-bottom -1rem
  margin-top -2rem
  @media screen and (min-width: $page-onebigwide)
    width $container-onebigwide
  @media screen and (min-width: $page-twowide)
    width $column-width * 2
  @media screen and (min-width: $page-threewide)
    width $column-width
    margin-bottom 0
    margin-top 0
  @media screen and (min-width: $page-fourwide)
    width $column-width * 2

#frontpage-logo-and-title
  display flex
  flex-direction column
  align-items center
  min-width $column-width
  @media screen and (min-width: $page-twowide)
    min-width $two-column-width
  @media screen and (min-width: $page-threewide)
    min-width $column-width
  @media screen and (min-width: $page-fourwide)
    min-width $two-column-width
  padding 0 $standard-padding
  font-size 1.5rem
  h3
    font-weight normal
    font-size 1rem
    text-align center
    margin 0
    padding $standard-padding
    text-shadow 0 0 5px black
    
    @media screen and (min-width: $page-twowide)
      font-size 1.25rem
    @media screen and (min-width: $page-fourwide)
      font-size 1.5rem

#effectslist
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content center

#effectslist li
  width 6em
  height 4em
  margin 0.5em 1em
  text-align center
  line-height 1.25

#effectslist .icon
  font-size 2rem
  line-height 1

.effects
  display flex
  flex-direction row
  flex-wrap wrap
  padding 0

.effects li
  list-style-type none
  display flex
  flex-direction row
  align-items center
  margin 0.5rem 1rem 0.5rem 0
  line-height 1.25
  width $column-width
  max-width $column-width
  @media screen and (min-width: $page-onebigwide)
    width $bigger-column-width
    max-width $bigger-column-width

.effects h3
  margin 0

.effects i
  margin-right 1rem
  opacity 0.6

.effects i::before
  font-size 4rem

.warning
  margin 2em 0 0 0
  padding 0
  border-top 4px solid #f22
  font-weight bold
  .header
    color #f22
    font-size 150%

.categorypicture
  order 0
  
.categorydescription
  order 1
  
.wordcloud
  display flex
  flex-direction row
  flex-wrap wrap
  align-items center
  justify-content space-between
  margin 1rem 0.5rem
  padding 0
  
.wordcloud li
  list-style-type none
  padding 0 0.5rem 0 0.5rem
  font-size 2rem
  color rgb(223, 255, 127)
  text-transform uppercase
  
.dots
  background-color black
  background-image url("{{ site.baseurl }}/assets/images/halftoneheader2.png")
  background-repeat repeat-x
  
.dark .sidebar a
  color #98f