---
---

// Colours
$main-colour = #6600ff
$background-colour = #4400aa
$grey-colour = #f0f0fa

// Column size
$column = 12rem

// Bold font weight
$bold-weight = 600

// Responsive page size changing
@media screen and (min-width: 660px)
  body
    max-width 40rem
    margin 0 auto
  .homescreen header h2
    width 18rem
  // New category page styling
  .articles
    width 38rem
@media screen and (min-width: 920px)
  body
    max-width 54rem
  .homescreen header h2
    width 32rem
  #indexes li
    width 25%
  // New category page styling
  .articles
    width 52rem
  .columns
    display grid
    grid-template-columns repeat(auto-fit,12.5rem)
    column-gap 1rem
    padding 0
    list-style-type none
@media screen and (min-width: 1080px)
  html
    font-size: 18px    
@media screen and (min-width: 1200px)
  html
    font-size: 20px

// Change page look based on width
@media screen and (min-width: 660px)
  h1
    background-color rgba(0,0,0,0.5)
    width 12rem
    height 9rem
    justify-content flex-end
  header
    display flex
    margin-bottom 2rem
  h2
    background none
    display flex
    align-items flex-end
    padding-bottom .25rem
    margin-left 1rem
    border none
    justify-content flex-start
    flex-grow 1
    padding-left 1rem
    font-size 2rem
    font-weight 300
  h3:first-child
    margin-top 0
  .homescreen header h1 img
    width 20rem
    height 10rem
    margin-top 4rem
    margin-bottom -0.5rem
  .homescreen h2
    margin 0 1em
  #ticker
    padding-left 0
    padding-right 0
  #change
    margin-left 0
  #ticker div
    margin-left 1rem    
  #subject
    margin-left 2rem
  main
    flex-direction row
  figure
    margin 0
    img
      width 12rem
      height 9rem
  aside, nav
    background none
    margin-right 2rem
    min-width $column
    max-width $column
    padding 0
  article
    padding 0
  section, footer
    padding 0
    margin 1rem 0 0 0
  footer
    padding 1rem
  section:first-child
    margin-top 0
  .articles
    flex-direction row
    flex-wrap wrap
    justify-content space-between
    margin-top 2rem
    margin-left 0
    margin-right 0
    img
      display block
    li
      width $column
      min-height 15rem
      img, .nophoto
        width $column
        height 9rem
        margin-bottom 1rem
  #indexes
    flex-direction row
    li
      flex-grow 1
      height 4rem
      margin 0 .25rem 0 0 
    li:last-child
      margin 0
  #effectslist, #explore, #resources
    margin-top 0
    flex-direction row
    flex-wrap wrap
    justify-content space-between
    text-align center
    li
      display flex
      flex-direction column
      min-height 8rem
      margin-bottom 2rem
      padding-left 0
      margin-left 0
      a
        padding-left 1rem
        padding-right 1rem
    li:last-child
      margin-bottom 2rem
    i
      font-size 3rem
      margin 1rem auto -.5rem auto
  #help
    margin 0
  .button
    margin 1rem 0 
  #effectslist
    border-bottom 2px solid #eeeef4
  #effectslist:after // Hack to push the last few items over to the left
    content ""
    flex auto
    max-width 26rem
    min-width 26rem
  .greybox
    border-style none none none solid
    border-image linear-gradient(to bottom, #6600ff 0%, rgba(80,0,255,0.2) 100%) 10
    border-left 4px solid #fff
    border-width 0 0 0 4px
    min-height 7rem
  .requirementsbox
    border-style none none none solid
    border-image linear-gradient(to bottom, #ff0066 0%, rgba(255,0,80,0.2) 100%) 10
    border-left 4px solid #fff
    border-width 0 0 0 4px
    min-height 7rem
  .wordcloud
    margin-left -.5rem
    margin-right -.5rem
  .gridcontainer
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content space-between
  .wordlist
    margin 0
  .wordlist li
    width 11rem
    min-height 2rem
    border-left 4px solid #ccaaff
    margin-right .5rem
  #books li
    width 26rem
  #books
    display flex
    flex-wrap wrap
    flex-direction row
    justify-content space-between
  #clinics
    font-size inherit
    margin-left 2rem
    .clinicheading
      min-width 14em
      width 14em
    .agerange
      min-width 7em
      width 7em
    .waittime
      min-width 8em
      width 8em
    .catchment
      min-width 10em

.size-table td
  padding-top .5ex
  font-size medium
  min-width 3em

.effects, .requirements
  display grid
  grid-template-columns repeat(auto-fit,20rem)
  li
    max-width 14.5rem
    padding-right 1.5rem
    margin-left 4.5rem
    i
      margin-left -5.5rem



// New homepage styling

#explore
  display grid
  grid-template-columns repeat(auto-fit,8rem)
  justify-content center
  li
    width fit-content 
    margin auto
    margin-bottom 0
    a
      padding-left 0
      padding-right 0
  li:last-child
    margin-bottom 0

footer
  padding 1rem 0
  div
    grid-template-columns repeat(auto-fit,12rem)
    grid-gap 2rem

// regional option grid layouts
.regionaloptions
  display grid
  grid-template-columns 50%
  :last-child
    grid-column-end last-line
  .region
    margin 2px
    padding 5px
    border-radius 5px
    h4
      margin 2px
    p
      margin 0
  .bigregion
    margin 2px
    border-radius 5px
    padding 0
    h4
      min-width 100%
      margin 7px 7px 2px
    div
      flex-grow 1
      width 50%
      p
        margin 2px 7px
    grid-column 1 / last-line
    display flex
    flex-wrap wrap
  padding-bottom 15px
