---
layout: page
---

<div class="sidebarcontainer">
    <div class="content">
        {% assign slug = page.title | slugify %}
        {% assign info = site.data.articles[slug] %}
        {% if info.summary %}
            <h3>{{ info.summary }}</h3>
        {% endif %}
        {% include feature.html %}
        {% if info.aka %}
          <p>{{page.title}} may also be known as {{ info.aka | array_to_sentence_string: 'or' }}.</p>
        {% endif %}
        <h3>What does it do?</h3>
        <ul class="effects">
        {% for item in info.effects %}
          {% assign categoryslug = item.category | slugify %}
          <li><i class="icon-{{ categoryslug }}"></i><div><h3>{{ item.category}}</h3>{{ item.detail }}</div></li>
        {% endfor %}
        </ul>
        {% if info.duration %}
          <p>{{ info.duration }}</p>
        {% endif %}
        <h3>More information</h3>
        {{ content }}
    </div>
    <nav class="sidebar">
    <h3>See also</h3>
    <ul>
      {% for item in info.effects %}
         {% assign categoryslug = item.category | slugify %}
            <li><a href="{{ '/category/' | append: categoryslug | relative_url }}">{{ item.category }}</a></li>
      {% endfor %}
    </ul>
    </nav>

</div>
