---
layout: page
---
<main>
  <article>
    <section class="groupings">
    {% include books thumbnails="true" %}
    </section>
    <section class="bodytext">
      <h3>Free publications</h3>
      <p>Over 150 leaflets, guides, and reports are also available to read for free on our <a href="{{ site.baseurl }}{% link publications.md %}">publications page</a>.
      </p>
    </section>
    <section class="bodytext">
      <h3>Errors and omissions</h3>
      <p>Is there something missing from this page? Have you spotted something that isn't correct? Please <a href="https://twitter.com/genderkit">tweet us</a> or message us <a href="https://www.facebook.com/genderkit">on Facebook</a> to let us know, or <a href="https://github.com/genderkit/genderkit/issues">file an issue on GitHub</a>.</p>
    </section>
  </article>
</main>
