---
layout: page
---
<main>
  <article>
    <section class="groupings">
    <ul class="details" id="books">
      {% assign books = site.data.books.books | where_exp:"item", "item.hidden != true" %}
      {% for item in books %}
        <li>
          <div>
            {% assign url = item.url %}
            <img src="{{ 'assets/images/books/' | append: item.title | append: '.jpg' | absolute_url }}" height="200" />
            <a href="{{ url }}">{{ item.title | xml_escape }}</a>
            {% if item.subtitle %}
              <div>{{ item.subtitle | xml_escape }}</div>
            {% endif %}
            <div class="bookauthor">{{ item.author }}</div>
          </div>
        </li>
      {% endfor %}
    </ul>
    </section>
    <section class="bodytext">
      <h3>Errors and omissions</h3>
      <p>Is there something missing from this page? Have you spotted something that isn't correct? Please <a href="https://twitter.com/genderkit">tweet us</a> or message us <a href="https://www.facebook.com/genderkit">on Facebook</a> to let us know, or <a href="https://github.com/genderkit/genderkit/issues">file an issue on GitHub</a>.</p>
    </section>
  </article>
</main>
