---
layout: page
---

<div class="sidebarcontainer">
  <nav class="sidebar">
    <h3>Categories</h3>
    <ul>
      <li><a href="javascript:$('.details li').show();">Show all</a></li>
      {% for item in site.data.categories[page.index-for].children %}
      <li><a href="javascript:$('.details li').hide();$('.category-{{ item | slugify }}').show();">{{ item }}</a></li>
      {% endfor %}
    </ul>
    {% if site.data.categories[page.index-for].seealso %}
      <h3>See also</h3>
      <ul>
        {% for item in site.data.categories[page.index-for].seealso %}
        {% assign slug = item | slugify %}
            <li><a href="{{ '/category/' | append: slug | absolute_url }}">{{ item }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </nav>

  <div class="content">
    {% include feature.html %}
  </div>
  {% capture wherecond %}
  item.categories contains "{{ page.index-for }}"
  {% endcapture %}

  {% assign articlesUnsorted = site.articles | where_exp:"item", wherecond %}
  {% assign numArticles = articlesUnsorted | size %}
  {% if numArticles > 0 %}
    {% assign articles = articlesUnsorted | sort:"weighting" %}
    <ul class="details">
      {% for p in articles %}
        {% assign slug = p.title | slugify %}
        {% assign cssclasses = "" %}
        {% assign effects = site.data.articles[slug].effects
           | where_exp:"item", "site.data.categories[page.index-for].children contains item.category" %}
        {% for item in effects %}
          {% assign cssclass = "category " | append: item.category | slugify %}
          {% assign cssclasses = cssclasses | append: cssclass | append: " " %}
        {% endfor %}
        <li class="{% if cssclasses %}{{ cssclasses }}{% endif %}">
          {% if p.feature %}
            <a href="{{ p.url | relative_url }}">
              <img src="{{ p.feature.image | absolute_url }}" alt="{{ p.feature.caption }}" />
            </a>
          {% endif %}
          <div>
            <h3><a href="{{ p.url | relative_url }}">{{ p.title }}</a></h3>
            {% for item in effects %}
              {% assign effect = item %}
              <p>{{ item.detail }}</p>
            {% endfor %}
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no articles in the category "{{ page.index-for }}"</p>
  {% endif %}
</div>
