---
layout: page
---

<main>
  <article class="content">
    <section class="bodytext">
      {{ content }}
      <h3 id="indexes">Indexes</h3>
      <ul class="wordlist">     
        {% for p in site.data.cards.indexes %}
          <li><a href="{{ site.baseurl }}{{ p.url }}">{{ p.name }}</a></li>
        {% endfor %}
      </ul>
      <h3 id="explore">Explore</h3>
      <ul class="wordlist">
        {% for p in site.explore %}
          <li><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></li>
        {% endfor %}
      </ul>
      <h3 id="words">Words</h3>
      <ul class="wordlist">
        {% for word in site.words %}
          <li><a href="{{ word.url | relative_url }}">{{ word.title }}</a></li>
        {% endfor %}
      </ul>
      <h3 id="how-to-do-it">How to do it</h3>
      <ul class="wordlist">
        {% for p in site.articles %}
          <li><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title | slice: 0 | upcase }}{{ p.title | slice: 1, p.title.size }}</a></li>
        {% endfor %}
      </ul>
    </section>
  </article>
</main>
