---
layout: page
---
<main role="main">
  {% if page.title contains 'name' %}
  <nav>
    <h3 id="see-also">See also</h3>
    {% assign exploreList = site.explore | sort: 'title' %}
    <ul>
      {% for p in exploreList %}
        {% if p.title contains 'name' %}
          {% if p.title == page.title %}
          {% else %}
            <li><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  {% else %}
  <aside style="padding: 0;"></aside>
  {% endif %}
  <article>
    <section>
      {{ content }}
    </section>
    {% if page.format == "grid" %}
      <section>
        <ul class="gridcontainer">
          {% for item in site.data.explore[page.data] %}
          <li class="griditem">
            <h3 id="{{ item.title | slugify }}">{{ item.title }}</h3>
            <ul>
            {% for subitem in item.items %}
              <li>{{ subitem }}</li>
            {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </section>
    {% else %}
      <ul class="wordcloud">
        {% for name in site.data.explore[page.data] %}
          <li style="font-size:{{ site.data.wordcloud.sizes | sample }};color:{{ site.data.wordcloud.colours | sample }};font-weight:{{ site.data.wordcloud.weights | sample }};">{{ name }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </article>
</main>
