---
layout: page
---
<main>
  <article>
    <section class="attention">
      <h3>In immediate danger?</h3>
      <p>Phone 999. If you can't use a phone, use <a href="http://www.emergencysms.org.uk/">emergencySMS</a> or Textphone 18000.</p>
    </section>
    <section class="bodytext">
      <h3>Police</h3>
      <p>Phone 101 to contact the police if it isn't an emergency.</p>
      <h3>Medical help</h3>
      <p>Phone 111 for medical help if it isn't an emergency.</p>
    </section>
    {% assign categories = site.data.help.help | sort:"category" | group_by:"category" %}
    <section class="groupings">
      {% for category in categories %}
      <div class="grouping">
        <h3>{{ category.name | xml_escape }}</h3>
        <ul class="details">
        {% assign sortedOrganisations = category.items %}
        {% for item in sortedOrganisations %}
          {% assign cssclasses = "" %}
          {% for category in item.tags %}
                {% assign cssclass = "category " | append: category | slugify %}
                {% assign cssclasses = cssclasses | append: cssclass | append: " " %}
              {% endfor %}
            <li class="{{ cssclasses }}">
              <div>
              {% assign url = item.url %}
                <h3><a href="{{ url }}">{{ item.name | xml_escape }}</a></h3>
                <p>
                  {% if item.manualDescription %}
                    {{ item.manualDescription | xml_escape }}
                  {% endif %}
                </p>
              </div>
            </li>
        {% endfor %}
        </ul>
      </div>
    {% endfor %}
    </section>
    <section class="bodytext">
     <h3>Support groups</h3>
      <p>For in person support, you  can find national and local support groups on our <a href="{{ site.baseurl }}{% link organisations.md %}">UK Organisations</a> page.
      <h3>Errors and omissions</h3>
      <p>Is there something missing from this page? Have you spotted something that isn't correct? Please <a href="https://twitter.com/genderkit">tweet us</a> or message us <a href="https://www.facebook.com/genderkit">on Facebook</a> to let us know.</p>
    </section>
  </article>
</main>
