<!DOCTYPE html>
<html class="dark halftone">
<head>
  {% include head.html %}
</head>
<body>
  <div class="wrapper" id="frontpage">
    <div id="frontpage-logo-and-title">
      <div id="logobox">
        <img src="{{ site.baseurl }}/assets/images/logostraight.svg" alt="Genderkit home" id="logo"/>
      </div>
      <h3>
        {{ page.description }}
      </h3>
    </div>
    <div class="gridcontainer">
      {% include home_navgrid.html %}
      <div class="griditem widegriditem">
        <h3>Featured gender constructors</h3>
        <ul style="flex-direction: row;">
          {% for person in site.data.people limit:3 %}
          <li><a href="{{person.url}}"><img src="{{person.image}}" alt="{{person.alt}}" width="80" height="80" style="display:inline-block"/></a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="griditem widegriditem">
        <h3>Resources</h3>
        <ul>
          <li><a href="organisations.html">List of UK Organsations</a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
