<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body class="homescreen">
  <header role="banner" id="header">    
    <h1>
      <img alt="Gender Construction Kit Logo" src="{{ site.baseurl }}/assets/images/logo.png" />
    </h1>
    <h2>
      {{ page.description }}
    </h2>
  </header>

  <section id="ticker">
    <div id="change">change</div>
    <div>
      <span class="orange">&raquo;</span> anything <span class="orange">you</span> need
    </div>
    <div>
      <span class="orange">&raquo;</span> to any <span class="orange">mix</span> you want
    </div>
    <div>
      <span class="orange">&raquo;</span> for as <span class="orange">long</span> as you like
    </div>
  </section>

  <section>
  {% include cards cards="explore" icons="true" %}
  </section>

  <section>
  {% include cards cards="indexes" %}
  </section>

  <footer>
    <p>Gender Construction Kit is an <a href="http://github.com/genderkit/genderkit">open source project</a> created by <a href="{{ site.baseurl }}{% link credits.md %}">team of volunteers</a>.</p>
    <p><em>Follow us</em> on <a href="http://www.facebook.com/{{ site.facebook_username }}">Facebook</a>, <a href="http://www.twitter.com/{{ site.twitter_username }}">Twitter</a>, <a href="https://www.instagram.com/genderkit/">Instagram</a>, and <a href="https://genderkit.tumblr.com/">Tumblr</a>.
    </p>
  </footer>
</body>
</html>
