---
layout: page
---
<main role="main">
  <article>
    <section>
      <h3>Finding your identity</h3>
      <p>You're allowed to be whoever you like. No-one can tell you who you are. Everyone is unique and is not fully described by any label or combination of labels.</p>
      <p>Sooner or later, however, you will find you will need to use words to describe yourself to other people. There are a number of common words - terms - used to describe people, which all have advantages and disadvantages.</p>
      <p>You can use your judgement to choose the most appropriate terms to describe yourself. The terms you use may vary depending on where you are and who you are describing yourself to.</p>
      <p>You can also create your own terms to describe yourself that better fit who you are - even the common terms have only been around a few decades at most!</p>
      <p>Remember when you are talking about other people to use the terms they prefer. If you're not sure, ask.</p>
      <h3>Commonly used terms</h3>
      <p>The following list contains some of the more commonly used terms used to describe people's identities. Click a term for more information on the meaning of each terms and when they might be suitable for use.</p>
    </section>
    <ul class="wordlist">
      {% for identity in site.identities %}
        <li><a href="{{ identity.url | relative_url }}">{{ identity.title }}</a></li>
      {% endfor %}
    </ul>
    <section>
      <h3>Terms to avoid</h3>
      <p>Some terms are commonly used as a slur - an offensive word used to insult or attack people. Some of these words may be upsetting or traumatic for people, and we strongly suggest you avoid using them. If you want to find out more about these terms, you can <a href="{{ site.baseurl }}{% link slurs.md %}">read our page about them</a>.</p>
    </section>
    <section>
      <h3>Errors and omissions</h3>
      <p>Is there something missing from this page? Have you spotted something that isn't correct? Please <a href="https://twitter.com/genderkit">tweet us</a> or message us <a href="https://www.facebook.com/genderkit">on Facebook</a> to let us know.</p>
    </section>
  </article>
</main>
