---
layout: page
---

<main>
        {% include feature.html %}
      	<article class="content">

  	{% if page.attention-title %}
  	<section class="attention">
	<h3 id="{{ page.attention-title | slugify }}">{{ page.attention-title | xml_escape }}</h3>
      <p>{{ page.attention-text | markdownify }}</p>
    </section>
  	{% endif %}

    <section class="bodytext">
      {{ content }}
      {% if page.feature %}
        {% if page.feature.url %}
          <h3 id="errors-and-omissions">Acknowledgements</h3>
          <p>This page is illustrated using a <a href="{{ page.feature.url }}">photograph by {{ page.feature.creator }} available at {{ page.feature.source }}</a>.
        {% endif %}
      {% endif %}
      <h3 id="errors-and-omissions">Errors and omissions</h3>
      <p>Is there something missing from this page? Have you spotted something that isn't correct? Please <a href="https://form.typeform.com/to/aCZZqtWL">contact us </a> to let us know.</p>
    </section>
  </article>
</main>
