---
layout: misc
---
    <section class="bodytext">
    {{ content }}
    </section>
    <section>
      <h3 id="lists-of-names">Lists of names</h3>
      <p>These useful lists might inspire you.</p>
      <ul class="wordlist">
        {% assign explore = site.explore | sort: 'title' %}
        {% for item in explore %}
          {% if item.title contains 'name' %}
            <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <h3 id="changing-your-name">Changing your name</h3>
      <p>You can read about how to change your name on our <a href="{% link _categories/id-documents.md %}">ID documents page</a>.
    </section>
