---
layout: page
---

<main>
  <article>
    <section class="attention">
      <h3 id="youth-groups">Youth Groups</h3>
      <p>Looking for youth support groups? Find them on the <a href="https://www.theproudtrust.org/for-young-people/lgbt-youth-groups/where-can-i-find-a-youth-group/">Proud Trust</a> group finder. 
      </p>
    </section>
    <section>
      <ul class="details" id="organisations">
      {% assign sortedOrganisations = site.data.organisations.organisations | where_exp:"item", "item.archived != true" | sort: 'name' %}
      {% for item in sortedOrganisations %}
        {% assign cssclasses = "" %}
        {% for category in item.tags %}
          {% assign cssclass = "category " | append: category | slugify %}
          {% assign cssclasses = cssclasses | append: cssclass | append: " " %}
        {% endfor %}
        <li class="{{ cssclasses }}">
          {% assign url = "" %}
          {% if item.url %}
          {% assign url = item.url %}
          {% elsif item.twitter %}
          {% assign url = "https://twitter.com/" | append: item.twitter %}
          {% elsif item.facebook %}
          {% assign url = "https://www.facebook.com/" | append: item.facebook %}
          {% elsif item.facebookId %}
          {% assign url = "https://www.facebook.com/" | append: item.facebookId %}
          {%- elsif item.instagram -%}
          {%- assign url = "https://www.instagram.com/" | append: item.instagram -%}
          {%- endif -%}
          {% if item.image %}
            <img alt="Logo of {{ item.name | xml_escape }}" src="{% link assets/images/organisations/{{ item.image }}.jpg %}" />
          {% elsif item.twitterID %}
            <img alt="Logo of {{ item.name | xml_escape }}" src="{% link assets/images/organisations/{{ item.twitterID }}.jpg %}" />
          {% elsif item.facebookId %}
            <img alt="Logo of {{ item.name | xml_escape }}" src="{% link assets/images/organisations/{{ item.facebookId }}.jpg %}" />
          {% endif %}

	  <h3 id="{{item.name | slugify }}"><a href="{{ url }}">{{ item.name | xml_escape }}</a></h3>
          <p>
            {% if item.twitterDescription %}
              {{ item.twitterDescription | xml_escape }}
            {% elsif item.facebookDescription %}
              {{ item.facebookDescription | xml_escape }}
            {% else %}
              {{ item.manualDescription | xml_escape }}
            {% endif %}
          </p>
          <p>
            {%- if item.url -%}
            <a href="{{ item.url }}">Website</a>&nbsp;
            {%- endif -%}
            {%- if item.facebook -%}
              <a href="https://www.facebook.com/{{ item.facebook }}">Facebook</a>&nbsp;
            {%- elsif item.facebookId -%}
              <a href="https://www.facebook.com/{{ item.facebookId }}">Facebook</a>&nbsp;
            {%- endif -%}
            {%- if item.instagram -%}
              <a href="https://instagram.com/{{ item.instagram }}">Instagram</a>&nbsp;
            {%- endif -%}
            {%- if item.twitter -%}
              <a href="https://twitter.com/{{ item.twitter }}">Twitter</a>&nbsp;
            {%- endif -%}
          </p>
        </li>
      {% endfor %}
      </ul>
    </section>
    <section class="bodytext">
      <h3 id="errors-and-omissions">Errors and omissions</h3>
      <p>Is there something missing from this page? Have you spotted something that isn't correct? Please <a href="https://form.typeform.com/to/aCZZqtWL">contact us </a> to let us know, or <a href="https://github.com/genderkit/genderkit/issues">file an issue on GitHub</a>.</p>
    </section>
  </article>
</main>
