<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
  {% include diagonal_header.html %}
  <div class="wrapper">
    <h2>
      {{ page.title }}
    </h2>
    <div class="sidebarcontainer">
      <div class="content">
        {% assign slug = page.title | slugify %}
        {% assign info = site.data.articles[slug] %}
        {% if info.summary %}
        <h3>{{ info.summary }}</h3>
        {% endif %}
        {% if page.feature %}
          <figure>
            <img src="{{ page.feature.image | absolute_url }}" alt="{{ page.feature.caption }}" />
            <figcaption>{{ page.feature.caption }}</figcaption>
          </figure>
        {% endif %}
        {% for item in info.effects %}
          <p>{{ item[1] }}</p>
        {% endfor %}
        {% if info.duration %}
          <p>{{ info.duration }}</p>
        {% endif %}
        {{ content }}
      </div>
      <nav class="sidebar">
        <h3>See also</h3>
        <ul>
          {% for cat in page.categories %}
            <li class="tag"><a href="{{site.url}}{{site.baseurl}}/category/{{cat | slugify}}">{{ cat }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
  {% include footer.html %}
</body>
</html>
