---
layout: misc 
---
    <section>
      <h3 id="finding-words-to-describe-yourself">Finding words to describe yourself</h3>
      <p>You're allowed to be whoever you like. No-one can tell you who you are. Everyone is unique and is not fully described by any word or combination of words.</p>
      <p>Sooner or later, however, you will find you will need to use words to describe yourself to other people. There are a number of common words used to describe people, which all have advantages and disadvantages.</p>
      <h3 id="commonly-used-words">Commonly used words</h3>
      <p>Click a word for more information on what the word means and when to use it.</p>
    </section>
    <ul class="wordlist">
      {% for word in site.words %}
        <li><a href="{{ word.url | relative_url }}">{{ word.title }}</a></li>
      {% endfor %}
    </ul>
    <section class="attention">    
      <p>Remember when you are talking about other people to use the words they prefer. If you're not sure, ask.</p>
    </section>
    <section>
      {{ content }}
    </section>
