---
layout: misc
---

{% assign slug = page.title | slugify %}
{% assign info = site.data.words[slug] %}

<h3 id="what-does-it-mean">What does it mean?</h3>
{{ content }}
{% if page.similar %}
  <p>Words with similar meanings are {{ page.similar | array_to_sentence_string }}.</p>
{% endif %}
{% for group in page.groups %}
  <h3 id="{{ group | slugify }}">{{ group }}</h3>
  {% assign g =  site.data.identity-groups[group] %}
  <p>"{{ page.title }}" is a word that {{ g.description }}.</p>
  <p>Words like this can:</p>
  <ul>
    {% for pro in g.pros %}
    <li>{{ pro }}</li>
    {% endfor %}
  </ul>
  <p>However, words like this can also:</p>
  <ul>
    {% for con in g.cons %}
    <li>{{ con }}</li>
    {% endfor %}
  </ul>
  <p>Think carefully before using this word to describe someone or a group of people - they may not wish to be described that way.</p>     
{% endfor %}
